body{
    background-color: brown;
}
#divBusca{
  background-color: rgb(190, 100, 82);
  border:solid 1px;
  border-radius:15px;
  width:300px;
}
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}
header{
    background: darkred;
    color: whitesmoke;
}
footer{
    background: darkmagenta;
    color: whitesmoke;
}
header, footer{
    display: flex;
}
h1, p{
    font-size: larger;
    text-shadow: 1px;
    color:bisque;
}
h3{
    font-size: larger;
    text-shadow: 1px;
    color: gray;
}
svg{
    background-color: beige;
}