body{
    background-color: brown;
}
header{
    background: darkred;
    color: whitesmoke;
}
footer{
    background: darkmagenta;
    color: whitesmoke;
}
header, footer{
    display: flex;
}
h1, p{
    font-size: larger;
    text-shadow: 1px;
    color:bisque;
}
h3{
    font-size: larger;
    text-shadow: 1px;
    color: gray;
}
svg{
    background-color: beige;
}